body {
  color: var(--dark-blue);
  font-family: Georgia;
  margin-top: 90px;
}

hr{
  background-color: var(--light-blue);
}

.text-with-line-break {
  white-space: pre-wrap;
}

.text-content {
  display: block;
  max-width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.title-image {
  width: 100%;
  aspect-ratio: 20/9;
  object-fit: cover;
  object-position: 50% 50%;
}

.title-image-container {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: min(1200px, 86%);
}

.page-title {
  margin-top: 30px;
  margin-left: min(100px, 5%);
  margin-right: min(100px, 5%);
  text-align: center;
}

.separator {
  max-width: 92%;
  margin: auto;
}

.subtitle {
  margin-left: 300px;
  margin-right: 300px;
}

.container{
  max-width: 1000px;
}